<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
	<servlet>
		<servlet-name>ListComputers</servlet-name>
		<servlet-class>com.excilys.servlet.ListComputers</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ListComputers</servlet-name>
		<url-pattern>/getListComputers</url-pattern>
	</servlet-mapping>
</web-app>